.box a {
	font-size: 20px;
}
.anh img {
			float: left;
			width: 300px;
			padding: 10px;
			margin: auto;
			height: 230px;
			
}
.transition {
	max-width: 1000px;
	margin: auto;
}
html {
	background: green;
}
.diz:hover img {
	opacity: 0.5;
	transition: opacity 0.8s linear;
}
.diz img {
	opacity: 1;
	margin: auto;


}
.anh a {
	text-decoration: none;
	text-align: center;
}
.transition a {
	color: white ;
	text-decoration: none;
	
	border-color: blue ;
}
.box {
	padding: 10px;
	width: 33.3333%;
	text-align: center;
	float: left;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.menu {
	width: 600px;
	margin: auto;
}
.menu a {
		font-size: 25px;
		text-align: center;
 		 float: left;
 		 height: 40px;
 		 line-height: 50px;
 		 margin: auto;
 		 width:25%;
 		 color: white;
}
.diz:hover {
	transform: translate(0,-10px);
	box-shadow: 0px 5px 5px 0px rgba( 0, 0, 0, 0.2);
}
}
.diz {
	overflow: hidden;

}
h1 {
	text-align: center;
	animation: hic 10s ease infinite;
}

@keyframes hic {
    0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}





@keyframes koi {
				



				0% {
					opacity: 0.1;
					width: 50%;
				}
				50% {
					opacity: 1;
					width: 100%;
				}
				100% {
					opacity: 0.1;
					width: 150%;
				}
			}
p {
	text-align: center;
	animation: koi 4s  infinite;
	
	color: white;
	clear:both;
}