.hot {
	margin-top: 50px;
	width: 1300px;
	margin: auto;
}
.hang div{
	text-align: center;
	float: left;
	width: 25%;
	margin: auto;
}
.sanpham img {
	width: 98%;
	height: 250px;
	margin-left: 3px;
}
.sanpham a {
	text-decoration: none;
	font-size: 20px;
	color: black;
}
#link  {
	position: absolute;
	left: 26px;
	top: 2246px;

}
#link a {
	font-size: 30px;
	color: white;
	text-decoration: underline;
}
#link a:hover {
	color: #4795d9;
}
#link2  {
	position: absolute;
	left: 457px;
	top: 1644px;

}
#link2 a {
	font-size: 30px;
	color: #29313e;
	text-decoration: underline;
}
#link2 a:hover {
	color: #4795d9;
}
#link3  {
	position: absolute;
	left: 69px;
	top: 1189px;

}
#link3 a {
	font-size: 30px;
	color: #6b4e4e;
	text-decoration: underline;
}
#link3 a:hover {
	color: #4795d9;
}
.mail {
	width: 100%;
	height: 200px;
}
.mail img {
	margin: auto;
	width: 70px;
	height: 50px;
	margin-top: 15px;
}
.mail div {
	margin:auto;
}
.mail button {
	width: 80px;
	height: 30px;
	
}